@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cinzel", sans-serif;
}

.header {
  width: 100%;
}

nav {
  background-image: url(./images/crack-line-grunge-pattern-background_1409-2917.jpg);
  box-shadow: inset 0 0 0 100vmax rgba(95, 70, 90, 0.829);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

.overlay-image {
  position: relative;
  z-index: 1;
}

body {
  background-image: url("./images/castlebackground1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  text-align: center;
}

#landing {
  width: 80%;
  margin: 10% auto;
  text-align: center;
  padding: 75px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#landing p {
  padding: 15px 0;
}

#playerName {
  width: 200px;
  padding: 5px;
  font-size: 16px;
}

#startButton {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background-image: url(./images/crack-line-grunge-pattern-background_1409-2917.jpg);
  box-shadow: inset 0 0 0 100vmax rgba(95, 70, 90, 0.829);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

footer p {
  text-align: center;
  margin: 0 auto;
}

#gameh1 {
  text-align: center;
  background: url(./images/dragontext.png);
  margin: 1rem;
  font-size: 12rem;
  background-position: 0 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #5b728a54;
  animation: animatedOne 20s linear infinite;
  font-family: "Almendra", serif;
  -webkit-text-stroke: 2px rgb(116, 101, 101);
}

@keyframes animatedOne {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

#game-score {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 1rem auto;
  width: 80%;
}

#game-play {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 1rem auto;
  width: 80%;
}

#text {
  padding: 30px;
}

button {
  padding: 10px;
  margin: 30px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: antiquewhite;
}

#image {
  border-radius: 10px;
}

#builderpage {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

#builderpage h1 {
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
}

#builderpage p {
  text-align: center;
  font-size: 1.5rem;
}

#builderpage textarea {
  border-radius: 10px;
}

#cYOAForm {
  padding: 50px 10px 50px 150px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 2rem 0;
}

#cYOAForm input {
  font-size: 1rem;
}

#option1,
#option2,
#option3,
#option4,
#story {
  font-size: 1rem;
}

#builderbtn {
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
}

#builderbtn:hover {
  background-color: antiquewhite;
}

#brhidden {
  display: none;
}

#board-page {
  padding: 10px;
  background-image: url(./images/scroll.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  margin: 100px auto;
  width: 80%;
  height: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

#leaderboard {
  overflow: auto;
  height: 300px;
}

#board-page h1 {
  margin-top: 9rem;
  margin-bottom: 2rem;
  font-size: 5rem;
}

#board-page div {
  width: 50%;
}

#board-page div ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  list-style: none;
}

img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#about-dragons {
  width: 80%;
  margin: 10% auto;
}

#about-dragons p {
  padding: 1.5rem;
}

h2 {
  text-align: center;
  padding: 2rem;
}

#about-grid {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  grid-template-rows: 30rem 5rem 30rem;
  width: 80%;
  margin: 14.5rem auto;
}

#about-grid p {
  padding: 1rem;
}

#about-aaron {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  grid-row: 1/2;
  grid-column: 1/2;
  text-align: left;
}

#about-andy {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  grid-row: 1/2;
  grid-column: 3/4;
  text-align: left;
}

#about-luke {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  grid-row: 3/4;
  grid-column: 1/2;
  text-align: left;
}

#indent {
  text-indent: 150px;
}

#about-neill {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  grid-row: 3/4;
  grid-column: 3/4;
  text-align: left;
}

#about-aaron img {
  max-width: 200px;
  position: relative;
  left: 30rem;
  bottom: 34rem;
  cursor: pointer;
  margin: 0;
}

#about-aaron img:hover {
  animation: spin-x 2s infinite;
}

@keyframes spin-x {
  100% {
    transform: rotatex(360deg);
  }
}

#about-andy img {
  max-width: 400px;
  position: relative;
  left: 22rem;
  bottom: 36rem;
  cursor: pointer;
  margin: 0;
}

#about-andy img:hover {
  animation: spin 2s infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#about-luke img {
  max-width: 200px;
  position: relative;
  bottom: 37rem;
  cursor: pointer;
  margin: 0;
}

#about-luke img:hover {
  animation: spin-y 2s infinite;
}

@keyframes spin-y {
  100% {
    transform: rotatey(360deg);
  }
}

#about-neill img {
  max-width: 250px;
  position: relative;
  bottom: 29rem;
  right: 1rem;
  cursor: pointer;
  margin: 0;
}

#about-neill img:hover {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 1366px) {
  nav ul li a {
    font-size: 1.2rem;
  }

  #about-grid p {
    font-size: 0.9rem;
  }

  #about-andy img {
    width: 300px;
    left: 15rem;
    bottom: 33rem;
  }

  #about-aaron img {
    max-width: 150px;
    left: 20rem;
    bottom: 34rem;
  }

  #about-luke img {
    max-width: 150px;
    bottom: 34rem;
  }

  #about-neill img {
    max-width: 200px;
    bottom: 28rem;
    right: 2rem;
  }

  #cYOAForm {
    padding: 50px 10px 50px 100px;
  }

  #brhidden {
    display: block;
  }
}
